<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchase Summary</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Purchase Summary</h2>
    <table border="1" width="50%" align="center">
        <tr>
            <th>Stock Name</th>
            <th>Quantity Purchased</th>
        </tr>
        <tr>
            <td>{{ stock_name }}</td>
            <td>{{ quantity }}</td>
        </tr>
    </table>
    <br>
    <a href="/">Back to Stocks</a>
</body>
</html>
